name: Publish OneBot Adapter to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build wheel

      - name: Get version from tag
        id: get_version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build package
        run: |
          python -m build
        env:
          RELEASE_VERSION: ${{ env.RELEASE_VERSION }}

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: onebot-adapter-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write
    
    environment:
      name: pypi
      url: https://pypi.org/p/chatgpt-mirai-qq-bot-onebot-adapter

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: onebot-adapter-dists
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          password: ${{ secrets.PYPI_API_TOKEN }}